[user]
	name = Ryan Bogle
[core]
	excludesfile = ~/.gitignore_global
	longpaths = true
[color]
	ui = true
	branch = auto
	status = auto
[push]
	default = simple
[alias]
	fo = fetch origin
	rso = remote show origin
	fdry = fetch origin --dry-run
	new = !sh -c 'git log $1@{1}..$1@{0} "$@"'
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
	logline = log -U0 -S
	fpush = push --force-with-lease
