
set hlsearch
set wrapscan
set ignorecase
set smartcase

set showmode

set visualbell

set scrolloff=999
:noremap <Leader>zz :set scrolloff=000<CR>
:noremap <Leader>zc :set scrolloff=999<CR>
":noremap zz <M-CR>

