# vi:syntax=sh
#
# ~/.aliases
#

[[ `command vim --version` ]] && alias vi=vim

# Aliases
[[ "$OSTYPE" == "darwin"* ]] && alias ls='command ls -G'
# Needs a double check
[[ "$OSTYPE" == "arch"* ]] && alias ls='command ls --color=auto'
alias ll="ls -l"
alias llr="ls -lR"
alias la="ls -la"
alias lar="ls -laR"
alias cl="clear;pwd;ll"
alias cla="clear;pwd;la"

# Redo last with sudo
alias fuck='sudo $(fc -nl -1)'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias -- -='cd -'

# File size
alias fs="stat -f '%z bytes'"
alias df="df -h"

# OSX Suff
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias editHosts='sudo vim /private/etc/hosts'
  alias flushDNS='dscacheutil -flushcache'
  alias renewip="flushDNS && sudo ipconfig set en0 BOOTP && sudo ipconfig set en0 DHCP"
  [[ `command -v wstorm` == *"wstorm" ]] && alias ostorm="open -a WebStorm"
fi

# Exit
alias c="clear"
#alias cls="c && !!"
alias lg="logout"

# Git Short Commands (see .gitconfig for git aliases)
alias gfshow="git fetch origin && echo 'fetched origin' && git remote show origin"
alias cstat="clear && git status"
alias git-behind="git branch -vv --color=always | grep behind"
alias git-ahead="git branch -vv --color=always | grep ahead"
alias git-gone="git branch -vv --color=always | grep gone"
alias git-to-sync="git branch -vv --color=always | grep 'behind\|ahead\|gone'"

# Homebrew
if [[ `command -v brew` == *"brew" ]]; then
  alias brewu="brew update && brew doctor && echo 'outdated:' && brew outdated"
  alias brewcasku="brew cask update && brew cask doctor"
fi

