# vi:syntax=sh
#
# ~/.aliases
#

[[ `command vim --version` ]] && alias vi=vim

# Aliases
[[ "$OSTYPE" == "darwin"* ]] && alias ls='command ls -G'
# Needs a double check
[[ "$OSTYPE" == "arch"* ]] && alias ls='command ls --color=auto'
# Exit
alias c="clear -x"
#alias cls="c && !!"
alias lg="logout"
# Dirs
alias ll="ls -lh"
alias llr="ls -lhR"
alias la="ls -a"
alias lla="ls -lha"
alias lar="ls -lhaR"
alias cl="c;pwd;ll"
alias cla="c;pwd;la"
alias clla="c;pwd;lla"

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias -- -='cd -'

# File size
alias fs="stat -f '%z bytes'"
alias df="df -h"

# OSX Suff
if [[ "$OSTYPE" == "darwin"* ]]; then
  alias editHosts='sudo mvim /private/etc/hosts'
  alias flushDNS='dscacheutil -flushcache'
  alias renewip="flushDNS && sudo ipconfig set en0 BOOTP && sudo ipconfig set en0 DHCP"
  [[ `command -v wstorm` == *"wstorm" ]] && alias ostorm="open -a WebStorm"
fi

# Git Short Commands (see .gitconfig for git aliases)
alias gfshow="git fetch origin && echo 'fetched origin' && git remote show origin"
alias cstat="c && pwd && git status"
alias git-behind="git branch -vv --color=always | grep behind"
alias git-ahead="git branch -vv --color=always | grep ahead"
alias git-gone="git branch -vv --color=always | grep gone"
alias git-to-sync="git branch -vv --color=always | grep 'behind\|ahead\|gone'"

# Homebrew
if [[ `command -v brew` == *"brew" ]]; then
  alias brewu="brew update && brew doctor && echo 'outdated:' && brew outdated"
  alias brewcasku="brew cask update && brew cask doctor"
fi

# APT
if [[ `command -v apt` == *"apt" ]]; then
  alias apt-check="sudo apt update && echo && echo 'Listing Upgradeable' && echo && apt list --upgradeable"
  alias apt-upgradeable="apt list --upgradeable"
fi

